<div class="row">
  <article class="favorites col-xs-10 col-xs-offset-1">
    <h1>Favorilerim</h1>
    <div class="row">
      <% @voted_products.each do |voted| %>
        <% product = Product.find(voted.likeable_id) %>
        <div class="col-md-3 col-xs-4">
          <a href="<%= product_path(product) %>">
            <%= image_tag product.image :thumb %><br/>
            <%= product.name_with_brand %>
          </a>
          <br>
          <span><%= product.category.title %></span>
        </div>
      <% end %>
    </div>
  </article>
</div>
