.profile-form {
  // max-width: 320px;
  margin: 100px auto;

  h3 {
    text-align: center;
    line-height: 26px;
    font-size: 26px;
    margin: 15px 0 5px;
    font-family: 'Josefin Sans';

    a {
      color: #f50057;
    }
  }

  label {
    font-size: 14px;
    font-weight: 400;
  }

  .checkbox label {
    margin: -2px 0;
    padding: 0 0 0 20px;
  }

  .oauth-links {
    margin: 15px 0;

    a.btn-social {
      border: none !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 60px !important;
      margin-bottom: 10px !important;

      & > :first-child {
        left: 5px !important;
        width: 40px !important;
        line-height: 40px !important;
      }

      &.btn-active {
        background: #c5c5c5;
      }
    }
  }
}
