.search-page {
  padding: 20px 0 0;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }

  .facets-container {
    h4 {
      font-family: 'Josefin Sans';
      font-size: 20px;
    }

    .facets {
      list-style: none;
      padding: 0;
      margin: 0 0 40px;

      li {
        font-size: 14px;
        line-height: 26px;

        a {}

        &.selected {
          font-weight: 700;

          a {
            color: #f50057;
          }
        }
      }
    }
  }

  .algolia {
    text-align: center;
    margin: 60px 0 0;

    img {
      width: 150px;
    }
  }

  article.post.small-post.dual-post {
    margin: 0 0 80px !important;

    &:nth-child(even) {
      padding-top: 0 !important;
    }
  }
}

.search-button {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  min-width: auto !important;
}

.search-bar {
  display: none;
  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 70px;
  padding: 10px 0;

  input {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
    border: none;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #dedede;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #dedede;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #dedede;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: #dedede;
    }
  }

  .cancel-button {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 24px;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .search-page h1 {
    margin-bottom: 30px;
    font-size: 24px !important;
  }

  .search-button {
    padding-left: 10px !important;
  }

  .search-bar {
    height: 50px;
    padding: 0;

    .col-xs-12 {
      padding: 0 5px;
    }

    input {
      text-align: left !important;
      font-size: 16px !important;
    }

    .cancel-button {
      right: 15px;
      top: 14px;
      font-size: 18px;
    }
  }
}
