.stats-page {
  padding: 20px 0 0;

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Josefin Sans';
  }

  .category-selector {
    margin: 0 auto 25px;
    width: 250px;

    i {
      float: right;
      margin-top: 3px;
      margin-left: 10px;
    }

    .btn {
      width: 100%;
      text-align: left;
    }

    .dropdown-menu {
      min-width: 250px;
      max-height: 250px;
      overflow-y: auto;

      .dropdown-header a {
        color: #ababab;
        padding-left: 0;
        font-size: 12px;

        &:hover {
          background: transparent;
        }
      }
    }
  }

  #tree {
    margin-top: 20px;

    span.icon.glyphicon {
      margin: 0 -5px 0 7px;
      font-size: 6px;

      &:after {
        content: "\f111";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        position: absolute;
        top: -8px;
        left: 0;
        color: #8d8d8d;
      }
    }

    a {
      color: #5d5d5d;
      font-family: 'Josefin Sans';
    }

    .node-selected {
      a {
        font-weight: 600;
      }

      span.icon.glyphicon:after {
        color: #363636;
      }
    }
  }

  .posts-table {
    margin-top: 40px;
    border: solid 1px #ddd;
    background: #fff;

    h2 {
      font-size: 14px;
      margin: 15px 0 0;
      border-bottom: solid 1px #ddd;
      padding-bottom: 15px;
    }

    table {
      background: #fff;
      font-size: 12px;
      margin-bottom: 0;

      thead {
        font-weight: bold;
        background: #f9f9f9;
      }

      td {
        vertical-align: middle;
      }

      .post-title {
        color: #000;
        font-weight: bold;
        margin: 0 0 3px;
      }

      .post-job-title {
        color: #9e9e9e;
        font-size: 11px;
      }
    }
  }

  .list-categories {
    h2 {
      text-align: left;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 20px;
        margin-bottom: 15px;
        text-transform: lowercase;
        font-family: 'Lora';

        &:nth-child(even) {
          a {
            color: #F37055 !important;

            &:hover {
              text-decoration: none;
              border-bottom: solid 3px #F37055 !important;
            }
          }
        }

        &:nth-child(odd) {
          a {
            color: #F79533 !important;

            &:hover {
              text-decoration: none;
              border-bottom: solid 3px #F79533 !important;
            }
          }
        }
      }
    }
  }

  .stats-boxes {
    > div {
      margin: 80px 0;
      text-align: center;
      font-size: 20px;
      font-family: 'Josefin Sans';

      > div {
        width: 100%;
        display: inline-block;
        // color: #fff;
        .count {
          font-family: 'Josefin Sans';
          font-size: 100px;
          font-weight: bold;
          line-height: 80px;
        }

        .text {}
      }

      &:nth-child(1) {
        .count {
          color: #F79533;
        }
      }

      &:nth-child(2) {
        .count {
          color: #f50057;
        }
      }

      &:nth-child(3) {
        .count {
          color: #5073B8;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .stats-boxes {
    > div {
      margin: 30px 0 !important;
      // font-size: 11px !important;
      // min-width: 110px !important;
      > div {
        .count {
          // font-size: 20px !important;
        }
      }
    }
  }
}
