<meta http-equiv="refresh" content="5; url=/" />

<div class="row">
  <div class="error-page col-md-6 col-md-offset-3">
    <p>Bir sorun oluştu!</p>
    <p class="sub">Seni anasayfaya yönlendirelim.</p>
    <%= image_tag "error.png" %>
    <br>
    <a href="/" class="btn btn-success btn-md">Anasayfaya dön</a>
  </div>
</div>
