.sweet-alert {
  h2 {
    font-size: 22px !important;
  }

  .sa-input-error {
    top: 23px !important;
    right: 16px !important;
  }

  .sa-icon.sa-custom {
    width: 200px !important;
    height: 200px !important;
  }
}
