<div class="row">
  <article class="galleries">
    <h1>Galeri</h1>

    <div class="gallery-form">
      <p><b>Teşekkürler!</b><br>Bilgileriniz kaydedildi, fotoğraflar en kısa sürece onaylanarak yayına girecektir.</p>
    </div>
  </article>
</div>
