<p>Merhaba <%= @resource.email %>!</p>

<p>Parola sıfırlama sayfasına aşağıda bulunan linkten gidebilirsin.</p>

<p><%= link_to 'Parolamı değiştir', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>Eğer böyle bir istekte bulunmadıysanız lütfen maili görmezden gelin.</p>
<p><%= link_to 'Çalışma Masam', 'https://www.calismamasam.com' %></p>
